{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>
<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <b>
        <p>{{message}}</p>
    </b>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    <div>
        {% with messages = get_flashed_messages() %}    
        {% if messages %}
        {% for message in messages %}
        <b>
            <p >{{message}}</p>
        </b>    
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="row">
        <div class="col">
            <form class="card m-5" method="POST">

                {{form.hidden_tag()}}
                {{form.csrf_token}}
            

                <div class="card-header" style="background-color: #0fc214;">
                    <h2 style="font-size:30px; font-weight:1000; text-align:center;">Change your password</h2>
                </div>
                    
                <div class="card-body bg-primary">
                    <div class="col-12">
                        {{form.old_password.label(for="inputPassword4", class="form-label", style="font-size:20px;
                        font-weight:1000; text-align:center")}}
                        {{form.old_password(type="password", class="form-control col-sm-5", id="inputEmail4")}}
                    </div>

                    <div class="col-12">
                        {{form.new_password.label(for="inputPassword4", class="form-label", style="font-size:20px;
                        font-weight:1000;text-align:center")}}
                        {{form.new_password(type="password", class="form-control col-sm-5", id="inputPassword")}}
                    </div>
                    
                    <div class="col-12">
                        {{form.repass.label(for="inputPassword4", class="form-label", style="font-size:20px;
                        font-weight:1000;text-align:center")}}
                        {{form.repass(type="password", class="form-control col-sm-5", id="inputPassword")}}
                    </div>

                    <div class="col-12 py-3">
                        {{form.submit(style="font-size: 25px", class="mx-auto")}}
                    </div>
                </div>
            
            </form>
            
        </div>
    </div>
    {% endblock %}

</body>
</html>