{% extends "./base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}
    <div class="page">
        <div class="page-header">
            <h1>{{ current_user.username }}'s Profile</h1>
        </div>
        <section id="details">
            <div class="profilePic">
                <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsiIQva9a3SU2kBlQvS6xjdKBnVltYLY6TEA&usqp=CAU">
            </div>
            <div class="detail">
                <h3>Details</h3>
                <p>Email:{{current_user.email}}</p>
                <p>Registered on:
                    {{ current_user.created_on }}
                </p>
                <p>From:
                    {% if current_user.from_country %}
                        {{ current_user.from_country }}
                    {% endif %}
                </p>
                <p>Confirmed Email:
                    {% if current_user.confirmed %}
                        Yes.
                    {% else %}
                        No. <a href="/user/confirm-email">Confirm Email</a>
                    {% endif %}
                </p>
                <a href="/user/edit-profile">Edit Profile</a>
            </div>

        </section>
    </div>
    {% endblock %}
</body>

</html>