{% extends "./base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}

    <div>
        {% with messages = get_flashed_messages() %}    
        {% if messages %}
        {% for message in messages %}
        <b>
            <p >{{message}}</p>
        </b>    
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    

    <div class="card mb-3" style="width: 55rem">

        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ current_user.gravatar(size=256) }}"
            class="card-img-thumbnail m-4" alt="Profile pic">
            </div>
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <div class="card-header">
                    <h1>{{ current_user.username }}'s Profile</h1>
                </div>
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Email: {{current_user.email}}</li>
                    <li class="list-group-item">Registered on: {{ current_user.created_on }}</li>
                    <li class="list-group-item">From:
                        {% if current_user.from_country %}
                        {{ current_user.from_country }}
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Confirmed Email:
                        {% if current_user.confirmed %}
                        Yes.
                        {% else %}
                        No.
                        {% endif %}
                    </li>
                </ul>
                <div class="card-body">
                    {% if not current_user.confirmed %}
                    <a href="/user/confirm-email" class="card-link">Confirm Email</a>
                    {% endif %}
                    <a href="/user/edit-profile" class="card-link">Edit Profile</a>
                </div>
            </div>

        </div>
        
    </div>
    {% endblock %}
</body>

</html>