{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{super()}}
    <script src={{ url_for('static', filename='weather.js') }} type="module" defer></script>
    {% endblock %}
</head>
<body>
    {% block nav %}
    {{super()}}
    {% endblock %}


    {% block content %}
    <div class="page">
        <input class="searchBar" type="text" placeholder="Search...">
        <button id="weatherApi" class="weathers">Submit</button>
    </div>

    <main id="content">
        
    </main>

    {% endblock %}

</body>
</html>