{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <script src={{ url_for('static', filename='weather.js' ) }} type="module" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}
    <div class="p-3 mb-2 bg-success">
        <input id="searchBar" style="width:250px; font-size:19.7px" type="text" placeholder="Search...">
        <button id="submit" class="btn btn-primary btn-sm mb-1 rounded-2" style="width: 100px;">Search</button>
    </div>

    <main id="content">
        <!-- <div class="col" style="max-width: 500px; height: 450px;">
          <div class="card">
            <img src="https://assets.website-files.com/5d9ba0eb5f6edb77992a99d0/5de7d426154e7edbf167cce8_Thermometer.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Temperature</h2>
              <p class="card-text">help</p>
            </div>
          </div>
        </div>
        <div class="col" style="max-width: 450px; height: 420px;">
          <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/0605/8550/9029/files/wind.gif?v=1668056359" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Wind</h2>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col" style="max-width: 450px; height: 450px;">
          <div class="card">
            <img src="https://cdn.dribbble.com/users/199340/screenshots/2146877/rainy-800x600.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Rain</h2>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col" style="max-width: 450px; height: 450px;">
            <div class="card">
              <img src="https://cdn.dribbble.com/users/199340/screenshots/2146877/rainy-800x600.gif" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">Rain</h2>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div> -->
        </main>

    {% endblock %}

</body>

</html>