

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/landing_page.css">
    <title>Document</title>
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <h1>
            Password Manager
        </h1>
    </header>
    {% endblock %}

    {% block navbar %}
    <div class="container">
        <ul>
            <li class="homeBtn"><a href="/">Home</a></li>
            <li class="regBtn"><a href="/register">Register</a></li>
            <li class="loginBtn"><a href="/login">Login</a></li>
        </ul>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>

</html>