<!DOCTYPE html>
<html lang="en">

{% block head %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/custom_darkly_bootstrap.css">
    <title>Document</title>
</head>
{% endblock %}

<body>
    {% block header %}
    <header>
        <h1>
            Password Manager
        </h1>
    </header>
    {% endblock %}

    {% block navbar %}
    <nav>
        <br>
            {% if current_user.is_authenticated %}
            <a id="homeBtn" class="button" href="/">Home</a>
            <a id="logoutBtn" class="button" href="/logout">Logout</a>
            <a id="allItems" class="button" href="/all-items"></a>
            {% else %}
            <a id="homeBtn" class="button" href="/">Home</a>
            <a id="loginBtn" class="button" href="/login">Login</a>
            <a id="regBtn" class="button" href="/register">Register</a>
            {% endif %}
        </br>
    </nav>
    {% endblock %}
    {% block greeting %}
    <p>
        Hello, welcome to my first project with Flask. Hope you enjoy it!
    </p>
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>

</html>