{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}
    <div class="bg-image" style="
        background-image: url('https://st2.depositphotos.com/4393299/6978/v/950/depositphotos_69781231-stock-illustration-newspaper-doodle-drawing-seamless-pattern.jpg');
        height: 150vh;">
        <div class="container h-50">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <form class="row g-5 py-4" method="POST">
                        {{form.hidden_tag()}}
                        {{form.csrf_token}}

                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <b>
                            <p>{{message}}</p>
                        </b>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div class="col py-4 px-1">
                            {{form.email.label(for="inputEmail4", class="form-label bg-transparent col-sm-5", style="font-size:30px; font-weight:1000; text-align:center")}}
                            {{form.email(type="email", class="form-control col-sm-5", id="inputEmail4")}}
                        </div>
                        <div class="col-12">
                            {{form.password.label(for="inputPassword4", class="form-label bg-transparent col-sm-5", style="font-size:30px; font-weight:1000;text-align:center")}}
                            {{form.password(type="password", class="form-control col-sm-5", id="inputPassword")}}
                        </div>
                        <div class="col-12 py-3">
                            {{form.submit(style="font-size: 25px", class="mx-auto")}}
                        </div>
                        <a class="nav-link rounded-pill btn btn-success btn-lg" style="font-size:25px"
                            href="/auth/register">Don't have an account?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
</body>

</html>