{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{super()}}
    <link rel="stylesheet" href="/auth/static/style.css">
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">Login</div>
                <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read
                </div>
            </div>
            <div class="login-right">
                
                <form class="form" method="POST">
                    {{form.hidden_tag()}}
                    {{form.csrf_token}}

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <b><p>{{message}}</p></b>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {{form.email.label}}
                    {{form.email()}}
                    
                    {{form.password.label}}
                    {{form.password()}}

                    {{form.submit()}}
                    <a class="register" href="auth/register">Don't have an account?</a>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>