{% extends "login.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{super()}}
    <link rel="stylesheet" href="/auth/static/style.css">
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">Register</div>
                <div class="eula">By registering in you agree to the ridiculously long terms that you didn't bother to
                    read</div>
            </div>
            <div class="right">
                <form class="form" method="POST">
                    {{form.hidden_tag()}}
                    {{form.csrf_token}}

                    {{form.username.label}}
                    <u>{{form.username()}}</u>

                    {{form.email.label}}
                    {{form.email()}}

                    {{form.password.label}}
                    {{form.password()}}

                    {{form.repass.label}}
                    {{form.repass()}}

                    {{form.submit()}}
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>