{% extends "login.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>

<body>
    {% block nav %}
    {{super()}}
    {% endblock %}

    {% block content %}
    <div class="page">
        <div class="container">
            <div class="left">
                <div class="login">Register</div>
                <div class="eula">By registering in you agree to the ridiculously long terms that you didn't bother to
                    read</div>
            </div>
            <div class="right">
                <form class="form" method="POST">
                    {{form.hidden_tag()}}
                    {{form.csrf_token}}

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <b><p>{{message}}</p></b>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {{form.username.label}}
                    {{form.username()}}

                    {{form.email.label}}
                    {{form.email()}}

                    {{form.password.label}}
                    {{form.password()}}

                    {{form.repass.label}}
                    {{form.repass()}}

                    {{form.country.label}}
                    {{form.country()}}

                    {{form.submit()}}
                    <a class="register" href="auth/login">Already have an account?</a>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>