<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>

<body>
    {% extends "bootstrap/index.html" %}
    {% block title %}Password Manager{% endblock %}
    {% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Password Manager</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}
    <div class="container">
        <div class="page-header">
            {% if name %}
            <h1>Hello, {{ name }}!</h1>
            {% else %}
            <h1>Hello, stranger!</h1>
            {% endif %}
            <p>
                Welcome to my first Flask Page. Here is my current desktop picture
            </p>
            <img src='static/1041660.jpg' class="desktop_img"></img>
        </div>
    {% endblock %}
</body>

</html>