<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-lg bg-dark text-dark">
        <div class="container-fluid">

            <h1 class="text-light" style="font-family: 'Bokor', cursive;" href="/">
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
                </style>
                Daily Check
            </h1>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav  ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item btn btn-space">
                        <a class="nav-link rounded-pill btn btn-success btn-lg" href="/user/weather">Weather</a>
                    </li>
                    <li class="nav-item btn btn-space">
                        <a class="nav-link rounded-pill btn btn-success btn-lg" href="/user/news">News</a>
                    </li>
                    <li class="nav-item btn btn-space">
                        <a class="nav-link rounded-pill btn btn-success btn-lg" href="/user/profile" class="active">Profile</a>
                    </li>
                    <li class="nav-item btn btn-space">
                        <a class="nav-link rounded-pill btn btn-success btn-lg" href="/user/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item btn btn-space">
                        <a href="/" class="nav-link rounded-pill btn btn-success btn-lg">Home</a>
                    </li>
                    <li class="nav-item btn btn-space">
                        <a href="/auth/login" class="nav-link rounded-pill btn btn-success btn-lg">Login</a>
                    </li>
                    <li class="nav-item btn btn-space">
                        <a href="/auth/register" class="nav-link rounded-pill btn btn-success btn-lg">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>

</html>