{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>
<body>
    {% block nav %}
    {{super()}}
    {% endblock %}
    
    {% block content %}
    <div class="align-self-md-center">
        <section style="margin: 400px;">
            <h1 style="text-align: center; font-size:50px">Welcome to my second project with Flask.</h1>
            <p style="text-align: center; font-size:30px">This project is called DailyCheck - a website that shows you the weather around the world and news. This is achived via 2 APIs.</p>
            <p style="text-align: center; font-size:30px">The main learning goal for me is to learn how to integrate APIs in a flask app.</p>
        </section>
    </div>
    {% endblock %}
</body>
</html>