{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{super()}}
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
</head>
<body>
    {% block nav %}
    {{super()}}
    {% endblock %}
    
    {% block content %}
    {{super()}}
    <div class="page">
        <section id="intro">
            <h1>Welcome to my second project with Flask.</h1>
            <p>This project is called DailyCheck - a website that shows you the weather around the world and news. This is achived via 2 APIs.</p>
            <p>The main learning goal for me is to learn how to integrate APIs in a flask app.</p>
        </section>
    </div>
    {% endblock %}
</body>
</html>